service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="towservice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="service" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="fee" type="xs:integer"></xs:element>
                            <xs:element name="offer" type="xs:integer"></xs:element>
                            <xs:element name="location" type="xs:integer"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="price">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="2000"/>
                <xs:maxInclusive value="15000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="offer">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="10"/>
                <xs:maxInclusive value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
